* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  margin: 1200px 0 0;
  transform: translateX(-220px);
}

@import './styles/Board';
@import './styles/GetPlayerInfo';
@import './styles/GameStats';
